.all-options-container{
    /* background-color: aquamarine; */
    margin-bottom: 40px;
}

.option-container{
    /* background-color: firebrick; */
    margin-bottom: 15px;
}

.display-box{
    display: flex;
    justify-content: flex-start
}

.arrow-icon{
    cursor: pointer;
    /* transition: width 2s, height 2s, background-color 2s, transform 2s; */
}

.option-name{

}

.buttons-value-container{
    

}

.single-button-filter {
    /* background-color: rgb(91, 201, 203); Green */
    /* border: none;
    color: rgb(255, 255, 255);
    padding: 3px;
    text-align: center;
    /* height: 40px; */
    /* font-size: 16px;
    border-radius: 20px;
    transition-duration: 0.2s;
    line-height: 100%; */ 
}