.navbar-container{
    padding: 10px;
    z-index: auto;
    display: flex;
    background-color: #b5ccdd;
    height: 9vh;
    justify-content: space-between;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex-direction: row;
    /* flex-wrap: wrap; */
    margin-bottom: 20px;
    overflow: hidden;
}


.info-image-box img{
    height: 150px;
    width: auto;
}

.form-container{
   
}

.search-form{
    background-color: rgb(233, 233, 243);
    padding: 10px;
    display: flex;
    border-radius: 20px;
}

.search-button{
    height: 30px;
}

.search-input{
    background-color: rgb(233, 233, 243);
    width: 40vw;
    border: none;
    border-bottom: 2px solid rgb(201, 206, 212);
    transition:linear .2s .2s
}

.search-input:focus{
    width: 50vw;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: none;
    border-bottom: 2px solid rgb(62, 135, 160);
}

.menu-box{
    background-color: #b5ccdd;
    border: none;
}

.menu-button{

}
