.navbar-container{
    padding: 10px;
    display: flex;
    background-color: #b5ccdd;
    height: 9vh;
    justify-content: space-between;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex-direction: row;
    /* flex-wrap: wrap; */
    margin-bottom: 20px;
}


.info-image-box img{
    height: 120px;
    width: auto;
}


.search-form{

}

.search-button{

}

.search-input{
    
}

.login-box{

}

.login-button{

}
