.navbar-container{
    z-index: 7;
    padding: 10px;
    display: flex;
    background-color: #b5ccdd;
    justify-content: space-between;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.navbar-home-info{

}

.navbar-input{

}

.navbar-inputButton{

}
