.single-reservation-container a{
    text-decoration: none;
}

.single-reservation-container{
    border: 3px double rgb(190, 188, 188);
    border-radius: 15px;
    width: 600px;
    margin:10px;
    padding: 10px;
}