.restaurant-container{
    margin: 8px;
    min-width: 370px;
    max-width: 400px;
    /* backgroundColor: "rgb(250, 240, 230)" */
}

.restaurant-container a{
    text-decoration: none;
    color:rgb(33, 49, 75)
}

.restaurant-container a:visited {
    text-decoration: none;
    color:rgb(47, 61, 95)
}

