.all-restaurants-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 800px;
    margin: 30px;
    padding: 50px;
}

.all-restaurants-container img {
    background-color: rgb(173, 207, 218);
}

.restaurant-name{
    
}

.restaurant-col{
    margin: 50px;
}

.restaurant-col{

}