.page-container{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas: 
    "fil . ." 
    "fil rest rest" 
    "fil rest rest";
}

.filter-box{
    grid-area: fil;
    place-content: center / center;
    margin-left: 0px;
}

.restaurants-box{
    grid-area: rest;
    background-color: blanchedalmond;
    place-content: center/center;
}