.page-container{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas: 
    "fil car car" 
    "fil rest rest" 
    "fil rest rest";
}

.promotions-box{
    grid-area: car
}

.filter-box{
    grid-area: fil;
    margin-right: 80px;
}

.restaurants-box{
    grid-area: rest;
    place-content: center/center;
}